---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import ReactJS from "./icons/ReactJS.astro"
import AstroJS from "./icons/AstroJS.astro"
import Django from "./icons/Django.astro"
import FastApi from "./icons/FastApi.astro"
import ReactRouter from "./icons/ReactRouter.astro"
import Postgres from "./icons/Postgres.astro"
import Python from "./icons/Python.astro"
import Tensorflow from "./icons/Tensorflow.astro"
import Opencv from './icons/Opencv.astro'
import Graphql from './icons/Graphql.astro'
import Mongodb from './icons/Mongodb.astro'
import Nodejs from "./icons/Nodejs.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React.js",
    class: "border border-[#61DBFB] text-white",
    icon: ReactJS,
  },
  ASTRO: {
    name: "Astro.js",
    class: "bg-[#FF5D01] text-white",
    icon: AstroJS,
  },
  DJANGO: {
    name: "Django",
    class: "bg-[#092E20] text-white",
    icon: Django,
  },
  FASTAPI: {
    name: "FastAPI",
    class: "bg-[#092E20] text-white",
    icon: FastApi,
  },
  REACTROUTER: {
    name: "React Router",
    class: "bg-[#61DBFB]/30 text-white",
    icon: ReactRouter,
  },
  POSTGRES: {
    name: "PostgreSQL",
    class: "bg-[#092E20] text-white",
    icon: Postgres,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#092E20] text-white",
    icon: Python,
  },
  TENSORFLOW: {
    name: "TensorFlow",
    class: "bg-[#092E20] text-white",
    icon: Tensorflow,
  },
  OPENCV: {
    name: "OpenCV",
    class: "bg-[#e9f2ee]/30 text-white",
    icon: Opencv,
  },
  NODEJS: {
    name: "Node.js",
    class: "bg-[#68a063]/30 text-white",
    icon: Nodejs,
  },
  GRAPHQL: {
    name: "GraphQL",
    class: "bg-[#e535ab]/30 text-white",
    icon: Graphql,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#13aa52]/50 text-white",
    icon: Mongodb,
  },
};
const PROJECTS = [
  {
    title: 'DixBase',
    description: 'Plataforma todo-en-uno para criptomonedas y finanzas digitales, diseñada tanto para principiantes como para expertos. Ofrecemos trading P2P seguro, billeteras digitales protegidas, pagos instantáneos con nuestra blockchain DixBlock y herramientas avanzadas con Inteligencia Artificial. Disfruta de un ecosistema confiable para comprar, vender y gestionar tus activos digitales, respaldado por tecnología de última generación y un equipo dedicado a la innovación financiera.',
    link: 'https://dixbase.com',
    // github: "https://github.com/",
    image: '/projects/dixbase_logo2.webp',
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: 'OpiCuba',
    description: 'Aplicación web completa diseñada para gestionar la comunicación a través de Facebook Messenger. Su propósito principal es extraer mensajes de conversaciones, clasificarlos automáticamente mediante un modelo de Machine Learning y presentarlos en una interfaz de usuario intuitiva que permite su análisis y gestión.',
    // link: 'https://dixbase.com',
    github: "https://github.com/ale-01cu/z17-MITRANS",
    image: '/projects/OpiCuba.webp',
    tags: [TAGS.REACTROUTER, TAGS.REACT, TAGS.TAILWIND, TAGS.DJANGO, TAGS.POSTGRES],
  },
  {
    title: 'Bot de Facebook Messenger',
    description: 'Bot automatizado diseñado para interactuar con la aplicación de web de Facebook Messenger. A diferencia de los bots tradicionales que usan APIs, este opera a través de **visión artificial (Computer Vision)** para "ver" la pantalla, interpretar la interfaz gráfica y simular las acciones de un usuario humano. El objetivo principal del bot es **scrapear (extraer) mensajes de conversaciones**. Para ello, utiliza técnicas de procesamiento de imágenes para localizar elementos en la pantalla, controla el ratón y el teclado para navegar, y emplea OCR (Reconocimiento Óptico de Caracteres) para convertir en texto los píxeles de los mensajes.',
    // link: 'https://dixbase.com',
    github: "https://github.com/ale-01cu/z17-MITRANS/tree/main/machine_learning/bot",
    image: '/projects/messenger.webp',
    tags: [TAGS.PYTHON, TAGS.OPENCV],
  },
  {
    title: 'Sistema de Recomendación',
    description: 'Sistema de recomendaciones construido con FastAPI y TensorFlow. Proporciona una API para entrenar, gestionar y utilizar modelos de recomendación. El sistema está diseñado en torno a un pipeline de varias etapas que incluye la recuperación de candidatos y la clasificación (ranking) para generar recomendaciones personalizadas.',
    // link: 'https://dixbase.com',
    github: "https://github.com/ale-01cu/Picta-Project/tree/main/recommender_engine/backend",
    image: '/projects/Recommender.webp',
    tags: [TAGS.PYTHON, TAGS.FASTAPI, TAGS.TENSORFLOW],
  },
  {
    title: 'Solaris',
    description: 'Solaris es una aplicación fullstack inspirada en Instagram, desarrollada con tecnología moderna. Cuenta con una API completa con Node.js y GraphQL, y un cliente frontend responsivo desarrollado con React y NextUI.',
    // link: 'https://dixbase.com',
    github: "https://github.com/ale-01cu/solaris",
    image: '/projects/solaris.webp',
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.NODEJS, TAGS.GRAPHQL, TAGS.MONGODB],
  },
  {
    title: 'Home',
    description: 'Esta es una aplicación web integral para la transmisión de contenido de video, desarrollada con Django y React. Ofrece una plataforma integral para que los usuarios exploren, busquen y vean un catálogo de películas y series, similar a los servicios de streaming más populares.',
    // link: 'https://dixbase.com',
    github: "https://github.com/ale-01cu/home-project",
    image: '/projects/home.webp',
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.DJANGO, TAGS.POSTGRES],
  },
  // {
  //   title: "SVGL - A beautiful library with SVG logos",
  //   description:
  //     "Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.",
  //   link: "https://svgl.vercel.app/",
  //   github: "https://github.com/pheralb/svgl",
  //   image: "/projects/svgl.webp",
  //   tags: [TAGS.NEXT, TAGS.TAILWIND],
  // },
  // {
  //   title: "AdventJS - Retos de programación con JavaScript y TypeScript",
  //   description:
  //     "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
  //   link: "https://adventjs.dev",
  //   image: "/projects/adventjs.webp",
  //   tags: [TAGS.NEXT, TAGS.TAILWIND],
  // },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row flex-wrap mb-2 gap-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



